.foryou {
    width: 1255px;
    height: 540px;
    padding: 30px 150px;
    background-color: #242029;
}

.foryou h2 {
    text-align: left;
    color: #F3F6EF;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 46px;
}

.foryou button {
    width: 245px;
    height: 55px;
    background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    border: 3px solid;
    border-radius: 40px;
    border-image-source: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

.foryou__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 0;
}