article {
    display: flex;
    width: 90%;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
}

.foryou__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: #F3F6EF;
}

.foryou__content h3 {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #F3F6EF;
    text-align: left;
    line-height: 30px;
}

.foryou__content p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #F3F6EF;
    text-align: left;
    line-height: 17px;
}