.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.poster__elipse {
  display: block;
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 400px;
  top: 77px;
  right: -80px;
  z-index: -2;
  background-color: rgba(107, 255, 202, 0.7);
  filter: blur(20px);
}

.Possib__elipse-purple {
  position: absolute;
  width: 1251px;
  height: 1210px;
  border-radius: 625px;
  top: 1600px;
  right: -200px;
  z-index: -2;
  background: rgba(158, 0, 255, 1);
  opacity: 0.5;
  filter: blur(20px);
}

.Possib__elipse-accent {
  position: absolute;
  z-index: -2;
  width: 1056px;
  height: 1021px;
  border-radius: 528px;
  top: 1200px;
  left: -300px;
  background: rgba(107, 255, 202, 1);
  opacity: 0.5;
  filter: blur(20px);
}